* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Auth-container {
  background-image: url(assets/images/auth-bg.png);
  background-position: center;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.62),
    rgba(47, 140, 51, 0.63)
  );
}
/* Sidebar  */
.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  border-radius: 0px 58px 0px 0px;
  color: #fff;
  height: 100vh;
}
.ps-sidebar-root {
  border: none !important;
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: #0092471a;
}
/* Header */
.header-content {
  background-image: url("assets/images/Rectangle.png");
  background-size: cover;
  padding: 0 20px;
}
